.user {
    margin-left: 1%;
    margin-bottom: 1%;
    .dokterPetuags {
        display: flex !important;
        font-weight: 800;
        .text {
            min-width: 116px;
            max-width: 116px;
        }

        .semicolon {
            width: 1%;
            text-align: center;
        }
    }
}

.split2 {
    display: flex;

    .text-judul {
        min-width: 120px;
        max-width: 120px;
        text-wrap: wrap;
        // white-space: nowrap;
    }

    .semicolon {
        // border: 1px solid;
        width: 10px;
        text-align: center;
        font-weight: 600;
    }
}

.split2_custom {
    display: flex;
    flex: wrap;

    .text-judul {
        min-width: 90px;
        max-width: 1500px;
        text-wrap: none;
        // white-space: nowrap;
    }

    .semicolon {
        // border: 1px solid;
        width: 10px;
        text-align: center;
        font-weight: 600;
    }
}

.split2-50 {
    display: flex;
    width: 100%;

    .left {
        width: 50%
    }

    .right {
        width: 50%;
    }
}

.container-custom {
    font-size: 10pt;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    border: 1px solid;

    .menu {
        padding-left: 1%;
        padding-right: 1%;
        width: 18%;
        border: 1px solid;

        .judul {
            text-align: center;
        }

        .sectionDataDiri {
            text-align: left;

            .judul {
                text-align: center;
            }
        }

        .list {
            text-align: left;
        }
    }

    .wrapper {
        margin-left: 2%;
        width: 85%;
        // border: 1px solid;
        font-size: 10pt;

        .list {

            .judul {
                padding-left: 1%;
                padding-right: 1%;
                font-weight: 600;
                display: flex;
                background-color: #50589C;
                color: white;
                // width: 20;
            }

            .riweayatSoap {
                .wrapper {
                    width: 98%;
                    margin-left: 0.9%;
                }
            }

            .triaseIgd {
                .wrapper {
                    width: 98%;
                    margin-left: 0.9%;
                }
            }

            .awalMedisIgd {
                .wrapper {
                    width: 98%;
                    margin-left: 0.9%;

                    .text {
                        width: 100%;
                        // border: 1px solid;
                    }
                }
            }

            .awalKepIgd {
                .wrapper {
                    width: 98%;
                    margin-left: 0.9%;
                }
            }

            .awalMedisUmum {
                // border: 1px solid !important;
                .wrapper {
                    
                    width: 98%;
                    margin-left: 0.9%;
                }
            }
            .resumeRajal {
                // border: 1px solid !important;
                .wrapper {
                    
                    width: 98%;
                    margin-left: 0.9%;
                }
            }
            .keperawatanRalanUmum {
                // border: 1px solid !important;
                .wrapper {
                    
                    width: 98%;
                    margin-left: 0.9%;
                }
            }
            

            .pengkajianRestrain {}

            .pewsAnak {}

            .ewsDewasa {}

            .meowsDewasa {}

            .ewsNeonatus {}

            .triaseIgd {}
        }
    }
}